<h1><%= t("common.edit_task") %></h1>

<%= form_with(model: @task, url: task_path(@task), local: true) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :task_title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :task_content %>
  </div>

  <div class="field">
    <%= form.label :終了期限 %><br>
    <%= form.date_field :deadline_on %>
  </div>

  <div class="field">
    <%= form.label :優先度 %><br>
    <%= form.select :priority, options_for_select(Task.priorities.map { |label, _value| [t("enums.task.priority_enum.#{label}"), label.to_s] }, @task&.priority&.to_s), include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :ステータス %><br>
    <%= form.select :status, options_for_select(Task.statuses.map { |label, _value| [t("enums.task.status_enum.#{label}"), label.to_s] }, selected: params[:status]), include_blank: true %>
  </div>
  
    <div class="actions">
      <%= form.submit t("common.update_task"), id: "update-task" %>
    </div>
  <% end %>
<%= link_to t("common.back"), tasks_path, id: "back" %>